# Create a Postgres database on Vercel: https://vercel.com/postgres
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
POSTGRES_PRISMA_URL="postgresql://postgres:password@localhost:5432/postgres?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgresql://postgres:password@localhost:5432/postgres"
POSTGRES_USER="default"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="postgres"

# Application
BASE_URL="http://localhost:3000"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=""

# Postmark
POSTMARK_TRANSACTIONAL_API_TOKEN="5528acf8-93a6-475a-b54d-678f3ca9cb4d"
